.layout {
    display: flex;
    gap: 5px;
    height: 100vh;
    width: 100vw;
    position: relative;
}

@media only screen and (max-width: 1200px){
    
}
@media only screen and (max-width: 600px){
	/*Big smartphones [426px -> 600px]*/
}