.playlist {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 2rem 0 2rem;
}

.playlist div {
    display: flex;
    gap: .5rem;
    align-items: center;
}



.li {
    font-weight:400;
   
}

.ul {
    gap: .6rem;
    height: 39vh;
    overflow-x: hidden;
    overflow-y: scroll; 
     scrollbar-width: thin;
    scrollbar-color: #FBBA12; 
}

.ul::-webkit-scrollbar {
    width: 8px;
}

.ul::-webkit-scrollbar-track {
    background: transparent;
}

.ul::-webkit-scrollbar-thumb {
    background: #FBBA12;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

