.sidebar {
    background-image: url('../../asset/background.svg');
    background-position: center;
    background-size: contain;
    /* width: 22rem; */
    /* position: fixed; */
    /* height: 100vh; */
}


@media only screen and (max-width: 600px){
	.sidebar {
        display: none;
    }
}
@media only screen and (max-width: 425px){
	/*Small smartphones [325px -> 425px]*/
}